<!-- stude-scan.page.html -->

<!-- <ion-header>
  <ion-toolbar>
    <ion-title>Student Scanner</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-button expand="full" (click)="scanBarcode()">Scan QR Code</ion-button> -->

  <!-- Feedback Message Area -->
  <!-- <ion-item>
    <ion-label color="primary">
      <strong>Scan Status:</strong>
    </ion-label> -->
    <!-- <ion-text>
      <p>{{ feedbackMessage }}</p>
    </ion-text> -->
  <!-- </ion-item> -->

  <!-- Button to present the view modal -->
  <!-- <ion-button expand="full" (click)="presentViewModal()">Open View Modal</ion-button> -->
<!-- </ion-content> -->




<ion-content>
  <div class="scanner-container">
    <div class="scanner-frame">
      <video #scannerPreview></video>
      <div class="scan-line"></div>
    </div>
    <div class="button-container">
    <ion-button expand="block" (click)="startScan()">Start Scan</ion-button>
    <ion-button expand="block" (click)="stopScan()">Stop Scan</ion-button>
    
  </div>
  <ion-text *ngIf="scanResult">
      <h2>Scan Result:</h2>
      <p>{{ scanResult }}</p>
  </ion-text>
 
    
</div>
</ion-content>
