<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/lecture"></ion-back-button>
    </ion-buttons>
    <ion-title>Attendance Details</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col size="12">
        <table class="attendance-table">
          <thead>
            <tr>
              <th>Email</th>
              <th>Name</th>
              <th>Surname</th>
              <th>Student Number</th>
              <th>Module</th>
              <th>Scan Date</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let detail of attendanceDetails">
              <td>{{ detail.email }}</td>
              <td>{{ detail.name }}</td>
              <td>{{ detail.surname }}</td>
              <td>{{ detail.studentNumber }}</td>
              <td>{{ detail.module }}</td>
              <td>{{ detail.scanDate | date: 'medium' }}</td>
            </tr>
          </tbody>
        </table>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
