<ion-content [fullscreen]="true">
  <div class="frame">
    <div class="center">
      <div class="profile">
        <div class="image">
          <div class="circle-1"></div>
          <div class="circle-2"></div>
          <ion-icon name="person-circle-outline" class="equal-size"></ion-icon>
        </div>
       
        <div class="actions">
          <ion-button class="btn" routerLink="/profile">
            <ion-icon name="person" slot="start"></ion-icon>
            View Profile
          </ion-button>

          <ion-button class="btn" routerLink="/attendance-records">
            <ion-icon name="document-text" slot="start"></ion-icon>
            Attendance Records
          </ion-button>
        
          <ion-button class="btn" routerLink="/academic-calendar">
            <ion-icon name="calendar" slot="start"></ion-icon>
            Academic Calendar
          </ion-button>
          <ion-button class="btn" routerLink="/announcements">
            <ion-icon name="megaphone" slot="start"></ion-icon>
            Announcements
          </ion-button>
          <ion-button class="btn" routerLink="/stude-scan">
            <ion-icon name="scan" slot="start"></ion-icon>
            Scan QR Code
          </ion-button>
        </div>
      </div>


    </div>
  </div>
</ion-content>
