ion-content {
	--background: rgb(248, 243, 215);
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100%;
	padding: 20px;
  }
  
  ion-header {
	position: fixed;
	width: 100%;
	top: 0;
  }
  
  .frame {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	height: 100%;
	width: 100%;
  }
  
  .user-info-card, .actions-card {
	width: 90%;
	max-width: 400px;
	background-color: rgba(255, 255, 255, 0.9);
	padding: 20px;
	border-radius: 10px;
	box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
	margin: 20px 0;
  }
  
  .user-info {
	text-align: center;
  }
  
  .user-info h2 {
	margin: 0;
	font-size: 24px;
  }
  
  .user-info p {
	margin: 0;
	font-size: 16px;
	color: grey;
  }
  
  .actions {
	display: flex;
	flex-direction: column;
	gap: 20px; /* Increase the gap between buttons */
	width: 100%;
  }
  
  .btn {
	--background: #fcbd60;
	--background-activated: #ffd700;
	--background-focused: #ffec8b;
	--background-hover: #ffec8b;
	color: black; /* Text color for better contrast */
	font-weight: bold;
	text-align: left;
	justify-content: flex-start;
	height: 60px; /* Increase the height of the buttons */
	font-size: 18px; /* Increase font size for the button text */
  }
  
  .btn ion-icon {
	display: inline-block;
  }
  
  .btn span {
	display: inline-block;
  }
  
  .btn:hover span {
	display: none; /* Hide text on hover */
  }
  
  .btn:hover ion-icon {
	margin: 0 auto; /* Center the icon */
	display: block;
	width: 100%;
	text-align: center;
  }